# * Custom environment variables

# Full-path for the current project and other project I work with.
export PATH_PROJ="$(realpath .)"
export PATH_SCBLE="$HOME/git/bluescream"
export PATH_SCPOC="$HOME/git/screaming_channels_poc"
export PATH_DATASET="$HOME/pro_storage/dataset"
export PATH_PHASEFW="${HOME}/git/phase_fw"
export PATH_SCAFF="${HOME}/git/scaff"
export PATH_SOAPYRX="${HOME}/git/soapyrx"

# * External environment variables

# Update the Python path to find the other projects during importation.
export PYTHONPATH="$PATH_SCBLE/src:$PYTHONPATH"

# Installation path of custom libraries (e.g., HEL).
export LD_LIBRARY_PATH="/usr/local/lib"
